.App {
  margin-top: 2rem;
}
.container {
  max-width: 100rem;
  width: 90%;
  margin: 0 auto;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-between;

  & > * {
    flex-basis: auto;
  }


}

svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}